# Dependencias
node_modules/
**/node_modules/

# Archivos de entorno
.env
**/.env

# Archivos de Docker
*.log

# Builds
build/
**/build/
dist/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/